# Prevent execution of any scripts in uploads directory
<FilesMatch "\.(php|phtml|php3|php4|php5|php7|phps|cgi|pl|exe|sh|bat)$">
    Require all denied
</FilesMatch>
Options -ExecCGI -Indexes
php_flag engine off
